.navbarContainer {
  border-bottom: 1px solid rgb(82, 82, 82);
}
.navbarUl {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem !important;
}

.body {
  padding: 5rem 3rem;
  position: relative;
}
.posts {
  margin: 0 15rem 0 10rem;
  width: 60%;
}
.sidebar {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  position: fixed;
  top: 50%;
  width: 10em;
  transform: translateY(-50%);
}
.rightContent {
  position: fixed;
  top: 50%;
  width: 15rem;
  transform: translateY(-50%);
  right: 3rem;
}
.socialmediaIcon {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.socialmediaIcon:last-child {
  margin-bottom: 0;
}
