.navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}
.navbarUl {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem !important;
  border-bottom: 1px solid rgb(238, 238, 238);
  width: 100%;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
.body {
  padding: 5rem 3rem;
  position: relative;
}
.posts {
  margin: 5rem 15rem 0 10rem;
  width: 60%;
}
.sidebar {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  position: fixed;
  top: 50%;
  width: 10em;
  transform: translateY(-50%);
}
.rightContent {
  position: fixed;
  top: 50%;
  width: 15rem;
  transform: translateY(-50%);
  right: 3rem;
}
.socialmediaIcon {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.socialmediaIcon:last-child {
  margin-bottom: 0;
}
