.container {
  margin-bottom: 6rem;
}
.header {
  padding-bottom: 2rem;
}
.date {
  color: rgb(117, 117, 117);
  font-size: 0.9rem;
}
.title {
  padding: 0;
  font-size: 4rem !important;
}
.image {
  width: 100%;
  object-fit: cover;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.actions {
  display: flex;
}
.action {
  font-size: 2rem;
  margin-right: 1rem;
}
.author {
  color: rgb(168, 168, 168);
}
.author > span:nth-child(1) {
  font-style: italic;
}
